*{
    margin:0;
    border:border-box;
    font-family:arial;

}
body{
    background-color:#e3e6e6 ;
}


.navbar{
    background-color:#0f1111;
    height:60px;
    width:100%;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-around;
}



.logo{
    background-image:url(amazon_logo.png);
    background-size:cover;
    height:50px;
    width:114px;   
}

.border{
    border:1.5px solid transparent;
}

.border:hover{
    border:1.5px solid white;
}

.first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:15px;
}

.second{
    font-size:1rem;
    margin-left:3px;
    
}

.address-logo{
    display:flex;
    align-items:center;
}

.nav-scarch{
    background-color:#E9B463;
    display:flex;
    justify-content:space-evenly;
    width:620px;
    height:40px;
    border-radius:4px;
}

.scarch-select{
    background-color:#f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
    
}

.scarch-input{
    width:100%;
    font-size:1rem;
    border:none;

}

.scarch-icon{
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    color:#0f1111;
    
}
.nav-scarch:hover{
    border:2px solid orange;
}

.nav-sign{
    font-size:12px;
}

.nav-second{
    font-size:14px;
    font-weight:700;
    
}

.nav-cart i {
    font-size:30px;
}

.nav-cart{
    font-size:14px;
    font-weight:700;
}


.pannel{
    height:40px;
    background-color:#222f3d;
    display:flex;
    color:#ffffff; 
    align-items:center;
    justify-content:space-evenly;
    font-weight:800%;
}

.pannel-ops p {
    display:inline;
    color:#ffffff;
    margin-left:15px;
}

.pannel-ops{
    width:85%;
    font-size:0.85rem;
}

.hero{
    
    height:350px;
    background-image:url(background-image.jpg);
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    
    }

.hero-massage{
    background-color:#f5f6f6;
    color:#0f1111;
    height:40px;
    width:95%;
    font-size:14px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    margin-bottom:25px;
}

.hero-massage a{
    text-decoration:none;
    color:#007185
}

.hero-massage a:hover{
    text-decoration:underline;
}

.shop{
    display:flex;
    justify-content:space-evenly;
    background-color: #e3e6e6;
}

.products{
    /* border:2px solid black; */
    height:400px;
    width:23%;
    background-color:white
    
}

.box-image{
    background-size:cover;
    height:300px;
    margin-bottom: 1rem;
    
    
}

.box-contact{
    margin-left:1rem;
    margin-right:1rem;
    margin-top:1rem;

}

h2{
    color:#0f1111;
    padding-left:1rem;
    font-size:21px;
    padding-top:1rem;

}


.see-more {
    color:#2162a1;
    font-size:14px;
    padding-top: 20px;   
    text-decoration: none;
}



.see-more:hover{
    color:#c71f1f;
}

footer{
    margin-top:20px;
}

.foot-pannel1{
    background-color: #37475a;
    color: #e3e6e6;
    min-height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

}

.foot-pannel2 p {
    color:#ffffff;
    font-size: 16px;
    
    
    
}

.foot-pannel2{
    background-color: #222f3d;
    height:300px;
    display: flex;
    justify-content: space-evenly;
    padding-top:40px;
    
   

}

ul a{
    display:block;
    color:#dddddd;
    text-decoration: none;
    font-size: 14px;
    margin-top:10px;
}

ul a:hover{
    text-decoration:underline;
}

.foot-pannel3{
    background-color: #222f3d;
    border-top:1px solid white;
    color:white;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    
    background-size: cover;
    height:50px;
    width:100px;
}
   
.foot-pannel5{
    background-color: #131a22;
    height:60px; 
    display:flex;
    padding-top: 35px;
    justify-content: center;   
    text-align: center;
    color:#dddddd;
    font-size: 12px;
}

.foot-pannel5 a{
    text-decoration: none;
    color:#dddddd;
    padding-right:10px;
}

.foot-pannel5 a:hover{
    text-decoration: underline;
}

.foot-pannel4{
    background-color:#131a22;
    height:380px;
}

.pannel4-line{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}

.first-line{
    font-size: 12px;
    color:#dddddd;
}

.second-line{
    font-size: 12px;
    color:#999999;
}