*{
    margin:0;
    border:border-box;
    font-family:arial;
}

.navbar{
    background-color:#0f1111;
    height:60px;
    width:100%;
    color:white;
    display:flex;
    align-items:center;
}

.amazon-logo{
    height:50px;
    width:100px;

}
.logo{
    background-image:url(amazon_logo.png);
    background-size:cover;
    height:50px;
    width:100%;
    
}


.border{
    border:1.5px solid transparent;
}

.border:hover{
    border:1.5px solid white;
    
}

.first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:15px;
}

.second{
    font-size:1rem;
    margin-left:3px;
    
}

.address-logo{
    display:flex;
    align-items:center;
}

.nav-scarch{
    background-color:#ff7474;
    display:flex;
    width:620px;
    height:40px;
    border-radius:4px;
}

