*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    min-width:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.application{
    width:500px;
    height:550px;
    border:2px solid black;
    border-radius: 10px;
    
}

.heading{
    display: flex;
    background-color: rgba(0, 0, 255, 0.254);
    padding-left:15px;
    padding-top: 15px;
}


