*{
    margin:0px;
    padding:0px;
}

.pic1{
    background-image: url('image1.png');
    min-height:100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 .pic1 h2{
    color:#300808;
    background-color: #e6e19e;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:100px;
    padding-right:10px;
    padding-left:10px;
    border-radius: 30px;
 }